* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fceed1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App #Image-container {
  text-align: center;
  padding-bottom: 4%;

}

img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 300px;
}

.App #header_text {
  text-align: center;
  padding-top: 3%;
  font-size: 50px;
  color: #1400c6;
  padding-bottom: 7%;
}

.App #header_text_order {
  text-align: center;
  padding-top: 3%;
  font-size: 50px;
  color: #1400c6;
  padding-bottom: 4%;
  display: none;
}

.App #header_text_orderDetails {
  text-align: center;
  padding-top: 3%;
  font-size: 50px;
  color: #1400c6;
  padding-bottom: 4%;
  display: none;
}

.App>.button_fetchdata {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1400c6;
  color: #fceed1;
  min-width: 20%;
  height: 7%;
  opacity: 0.7;
  border-radius: 4px;
  font-size: 20px;
}



.button_showselectClientPosition {
  position: fixed;
  top: 20%;
  left: 80%;
  transform: translate(-50%, -50%);
  background-color: #1400c6;
  color: #fceed1;
  min-width: 20%;
  height: 7%;
  opacity: 0.7;
  border-radius: 4px;
  font-size: 20px;
}

.App .button_customer {
  position: fixed;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
  background-color: #1400c6;
  color: #fceed1;
  min-width: 20%;
  height: 7%;
  opacity: 0.7;
  border-radius: 4px;
  font-size: 20px;
}

.App .button_fetchdata:hover,
.App .button_showselectClientPosition:hover,
.App .button_customer:hover {
  background-color: #6B5B95;
  cursor: pointer;

}


.App>#Text-data {
  position: relative;
  top: 20%;
  text-align: center;
  color: #6B5B95;
  font-weight: bold;
}

.App table {
  margin: auto;
}

.App table,
th,
td {
  border: 2px solid #1400c6;
  color: #141010;
}

td:hover {
  background-color: #FFFF00;
  cursor: pointer;
}

.App #Text-popup {
  color: #141010;
}